config.py
*.save
*.pyc
*.pyo
plugins/*
!plugins/api_http_endpoint.py
!plugins/api_clear_log.py
!plugins/api_clear_session.py
!plugins/api_exec_inline_code.py
3thparty
wwwroot/*
!wwwroot/index.htm
!wwwroot/templates/
venv
init.d/*
!init.d/001_main.sh
model/*
!model/__init__.py
!model/dummy.py


