config.py
*.save
*.pyc
*.pyo
plugins/*
!plugins/api_http_endpoint.py
!plugins/api_mqtt_endpoint.py
!plugins/api_filehook_endpoint.py
!plugins/api_clear_log.py
!plugins/api_clear_session.py
!plugins/api_exec_inline_code.py
!plugins/api_xml_generic_import.py
!plugins/api_user_set_apikey.py
!plugins/api_mqtt_endpoint.py
!plugins/api_hook_endpoint.py
!plugins/api_imap_mail.py
!plugins/api_create_alert.py
!plugins/api_send_ntfy.py
3thparty
wwwroot/*
!wwwroot/index.htm
!wwwroot/favicon.ico
!wwwroot/robots.txt
!wwwroot/templates/
venv
init.d/*
!init.d/B001_main.sh
!init.d/A001_main.sh
shared/*
!shared/__init__.py
model/*

