{% extends "templates/base/base.htm" %}
{% import "templates/base/uitools.htm" as forms %}

{% block title %}restAPI{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    {% call forms.record_form( table, id, context=context ) %}

    {% call forms.row() %}
        {% call forms.input('id', 'ID', 'ID', data['id'], disabled=true ) %}
        {% endcall %}
    {% endcall %}

    {% call forms.row() %}
        {% call forms.data_select('type_id','Type', data['type_id'], 'api_portal_content_type', 'default','%') %}
        {% endcall %}
    {% endcall %}

    {% call forms.row() %}
        {% call forms.input('created_on', 'Created on', '', data['created_on'] ) %}
        {% endcall %}
    {% endcall %}

    {% call forms.row() %}
        {% call forms.input('name', 'Name', '', data['name'] ) %}
        {% endcall %}
    {% endcall %}

    {% call forms.row() %}
        {% call forms.input_multiline('content', 'Content', '', data['content'] ) %}
        {% endcall %}
    {% endcall %}

  <script type="text/javascript" src="//js.nicedit.com/nicEdit-latest.js"></script> 
  <script type="text/javascript">
        controls=document.getElementsByTagName("textarea");
        for(var x=0;x<controls.length;x++) {
            if (controls[x].id=='content') {
                edit=new nicEditor({fullPanel : true});
                nicEditors.editors.push(edit.panelInstance(controls[x]));

                edit.addEvent('blur', function() {
                    this.nicInstances[0].saveContent();
                });
            }
        }
  </script>


    {% endcall %}
<!--
-->

{% endblock %}




