{% set ui_app, ui_app_nav_items=ui_app_info(context)  -%}
{% set app_id=context.get_arg("app_id",1) -%}
{% set ui_params=ui_view_name(context) -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        var table="{{ table }}";
        var id="{{ id }}";
        var queryString="{{ build_query_string(context)[1:] }}";
        var appId="{{ context.get_arg('app_id',1) }}";
    </script>

    <script>
    function deleteRecord(table, id) {
        if (confirm("Delete record?") == true) {
            text = "You pressed OK!";
            axios.delete('/api/v1.0/data/{{ table }}/{{ id }}')
              .then(function (response) {
                window.location='/ui/v1.0/data/view/{{ table }}/default{{ build_query_string(context) }}'
                console.log(response);
              })
              .catch(function (error) {
                alert('cannot delete the record');
                console.log(error);
              })
              .then(function () {
                // always executed
              });
        }
    }
    </script>

    <script lang="javascript">
    function getSubList(div_name, referenced_table_alias,referenced_field_name,value,columns,page, page_size, view="$html_table") {
      var url='/api/v1.0/data/'+referenced_table_alias+
        '?view='+view+
        '&filter_field_name='+referenced_field_name+
        '&filter_value='+value+
        '&view_columns='+columns+
        '&page='+page+
        '&page_size='+page_size+
        '&view_tag1='+div_name+
        '&api_cmd=save'+
        '&app_id='+appId+
        '&api_token='+div_name+'_'+referenced_table_alias+'_'+referenced_field_name

      //alert(url);
      axios.get(url)
      .then(function (response) {
        console.log(response.data);
        document.getElementById("div_sub_table_"+div_name).innerHTML=response.data;
      })
      .catch(function (error) {
        document.getElementById("div_sub_table_"+div_name).innerHTML=error;
        console.log(error);
      })
      .then(function () {
        // always executed
      });
    }
    </script>

    <script>
      function submitData(action) {
        document.getElementById('__action').value=action;
        document.getElementById('frmData').submit();
      }
    </script>

    {% if context.get_arg("__action","default")=="close" -%}
    <script>
      window.close();
    </script>
    {% endif -%}


    {% block head %}
    <title>{% block title %}{% endblock title %} - {{ app_id }}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Start Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <!-- End Bootstrap -->

    <!-- nicEdit -->
    <script type="text/javascript" src="//js.nicedit.com/nicEdit-latest.js"></script>
    <!-- End nicEdit -->

    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- End axios -->

    <!-- ace Textedit -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.5.0/ace.js" type="text/javascript" charset="utf-8"></script>
    <!-- End ace Text Edit -->

    <!-- Start add on styles -->
    <style>
    body {
        padding-top: 70px;padding-bottom: 50px;
    }
    </style>
    <!-- End add on styles -->

    {% endblock head %}

</head>
<body>



<!-- start navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ ui_app.get_result()['name'] }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
        {% if pagemode=="dataformupdate" %}        

        <li class="nav-item active">
            <a class="nav-link" href="#" onclick="submitData();return false;">Save <span class="sr-only"></span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="#" onclick="window.location='/api/v1.0/data/{{ table }}{{ build_query_string(context, ui_params) }}';return false;">New <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#" onclick="window.location='/ui/v1.0/data/view/{{ table }}/default{{ build_query_string(context, ui_params) }}';return false;">List <span class="sr-only"></span></a>
        </li>


        <li class="nav-item active">
            <a class="nav-link" href="#" onclick="deleteRecord(table,id);return false;">Delete <span class="sr-only"></span></a>
        </li>
        {% endif %}

        {% if pagemode=="dataformupdateclose" %}        
        <li class="nav-item active">
          <a class="nav-link" href="#" onclick="window.close();return false;">Close <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" onclick="submitData('default');return false;">Save<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" onclick="submitData('close');return false;">Save and close<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" onclick="deleteRecord(table,id);return false;">Delete <span class="sr-only"></span></a>
        </li>
        {% endif %}

        {% if pagemode=="dataforminsert" %}        
        <li class="nav-item active">
            <a class="nav-link" href="#" onclick="document.getElementById('frmData').submit();return false">Save <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#" onclick="window.location='/ui/v1.0/data/view/{{ table }}/default{{ build_query_string(context, ui_params) }}';return false;">List <span class="sr-only"></span></a>
        </li>
        {% endif %}

        {% if pagemode=="dataformlist" %}        
        <li class="nav-item active">
            <a class="nav-link" href="#" onclick="window.location='/api/v1.0/data/{{ table }}{{ build_query_string(context, ui_params) }}';return false;">New <span class="sr-only"></span></a>
        </li>
        {% endif %}
    </ul>

    <span class="navbar-text">|</span>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Workspace
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for item in ui_app_nav_items.get_result() %}
            <li>
            <a class="dropdown-item" href="{{ item['url'] }}{{ build_query_string(context) }}">{{ item['name'] }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#" onclick="window.location='/ui/home';return false;"> App Center <span class="sr-only"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End navbar -->

<!-- start footer -->
<div class="nav-scroller bg-body shadow-sm fixed-bottom">
  <nav class="nav nav-underline" aria-label="Secondary navigation">
    <a class="nav-link" href="#">
      Message<span class="badge bg-light text-dark rounded-pill align-text-bottom">0</span>
    </a>
  </nav>
</div>
<!-- End Footer -->

<!-- Start Content -->
<div id="content" class="container">
{% block content %}{% endblock content %}
</div>
<!-- End content -->

{% set dbg_level=get_debug_level(context) -%}
{% if dbg_level==0 -%}
<div style="margin-top:2px;padding-left:10px;background-color: #FFCCCB;font-weight:bold;border-radius: 18px">Begin pagesettings:</div>
<table class="table table-hover table-sm">
  <tr>
    <td>pagemode</td>
    <td>{{ pagemode }}</td>
  </tr>
</table>
<div style="margin-top:2px;padding-left:10px;background-color: #FFCCCB;font-weight:bold;border-radius: 18px">End pagesettings</div>
{% endif -%}

</body>
</html>

