{% extends "templates/base/base.htm" -%} 
{% import "templates/base/uitools.htm" as forms -%} 
{% import "templates/base/uitable.htm" as uitable -%}
{% block title -%}{{ table }}{% endblock -%}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div style="font-weight: bold;font-size:2em;color: silver">{{ title }}</div>

    {% call forms.record_form( table, id, context=context ) -%}
        {% for field in fields -%}
            {% set config=field['control_config'] -%}

            {% call forms.debug("control_config",config) -%}
            {% endcall -%}
            {% call forms.debug("field",field) -%}
            {% endcall -%}

            {% call forms.row() -%}
                {% if field['control']=="SUB-TABLE" -%}
                    {% set value=data | value_from_json(field['field_name'],"") -%}
                    {% call forms.debug("id",field['field_name']) %}{% endcall -%}
                    {% call forms.debug("data",data) %}{% endcall -%}
                    {% call uitable.sub_table(field['name'],field['label'],'Sessions', value,field=field, config=config) -%}
                    {% endcall -%}
                {% endif -%}

                {% if field['control']=="SELECT" -%}
                    {% set value=data | value_from_json(field['name'], "") -%}

                    {% call forms.data_select(field['name'],field['label'], value,
                                    field['referenced_table_name'] , 'default','%' ,
                                    config=config ) -%}
                    {% endcall -%}
                {% endif -%}
                {% if field['control']=="SELECTLIST" -%}
                    {% set value=data | value_from_json(field['name'], "") -%}

                    {% call forms.data_select_list(field['name'],field['label'], value,
                                    field['referenced_table_name'] , 'default','%' ,
                                    config=config ) -%}
                    {% endcall -%}
                {% endif -%}
                {% if field['control']=="BOOLEAN" -%}
                    {% call forms.boolean(field['name'], field['label'], '', data | value_from_json(field['name'],false), config=config ) -%}
                    {% endcall -%}
                {% endif -%}
                {% if field['control']=="TEXTAREA" -%}
                    {% call forms.input_multiline(field['name'], field['label'], '', data | value_from_json(field['name'],""), config=config ) -%}
                    {% endcall -%}
                {% endif -%}
                {% if field['control']=="ACE-EDIT" -%}
                    {% call forms.input_aceedit(field['name'], field['label'], '', data | value_from_json(field['name'],""), config=config    ) -%}
                    {% endcall -%}
                {% endif -%}
                {% if field['control']=="NIC-EDIT" -%}
                    {% call forms.input_nicedit(field['name'], field['label'], '', data | value_from_json(field['name'],""), config=config    ) -%}
                    {% endcall -%}
                {% endif -%}
                {% if field['control']=="INPUT" -%}
                    {% call forms.input(field['name'], field['label'], field['label'], data | value_from_json(field['name'],"") ,
                                    type=config | value_from_json("type","text") ,
                                    config=config) -%}
                    {% endcall -%}
                {% endif -%}
            {% endcall -%}
        {% endfor -%}
    {% endcall -%}
{% endblock -%}




