{% extends "templates/base/base.htm" %}
{% import "templates/base/uitools.htm" as forms %}
{% import "templates/base/uinavigation.htm" as uinav %}
{% set app_id=context.get_arg("app_id",1) %}


{% block title %}{{ table }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    <form action="/ui/v1.0/data/view/{{ table_meta['alias'] }}/default{{ build_query_string(context) }}" method="GET">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control form-control-sm" id="query" name="query" placeholder="Enter search here" value="{{ query }}">
            <select id="operator" class="form-select form-select-sm" name="operator">
                <option {% if context.get_arg("operator")=="contains" %} selected {% endif %} value="contains">Enthält</option>
                <option {% if context.get_arg("operator")=="eq" %} selected {% endif %} value="eq">Gleich</option>
                <option {% if context.get_arg("operator")=="like" %} selected {% endif %} value="like">Like</option>
                <option {% if context.get_arg("operator")=="startsWith" %} selected {% endif %} value="startsWith">Beginnt mit</option>
                <option {% if context.get_arg("operator")=="endsWith" %} selected {% endif %} value="endsWith">Endet mit</option>
            </select>
            <input type="hidden" id="app_id" name="app_id" value="{{ app_id }}"/>
        </div>

        <div class="col">
            <button type="submit" class="btn btn-sm btn-primary">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Search
            </button>
        </div>
    </div>
    </form>


<div class="table-responsive">
<table class="table table-hover table-sm">

    <thead>
        <tr>
            {% for col in columns %}
                <th scope="col">{{ col['label'] }}</th>
            {% endfor %}
        </tr>
    </thead>

{% for result in data %}
    <tr onclick="url='/ui/v1.0/data/{{ table_meta['alias'] }}/{{ result[table_meta['id_field_name']] }}{{ build_query_string(context) }}'; window.location=url;">
        {% for col in columns %}
            <td nowrap>{{ escape_html(result[col['alias']]) }}</td>
        {% endfor %}
    </tr>
{% endfor %}
</table>

{% call uinav.dataset_navigation(context, "nav",table, page, page_count, {}) %}
{% endcall %}

<!--
<div>
<input type="button" class="btn btn-sm btn-primary" 
    onclick="window.location='/ui/v1.0/data/view/{{ table }}/default{{ build_query_string(context, append_args={"page":0}) }}';" 
    value="<"></input>
<input type="button" class="btn btn-sm btn-primary" 
    onclick="window.location='/ui/v1.0/data/view/{{ table }}/default{{ build_query_string(context, append_args={"page":page-1}) }}';" 
    value="<<"></input>
{{ page+1 }}
<input type="button" class="btn btn-sm btn-primary" 
    onclick="window.location='/ui/v1.0/data/view/{{ table }}/default{{ build_query_string(context, append_args={"page":page+1}) }}';" 
    value=">>"></input>
<input type="button" class="btn btn-sm btn-primary" 
    onclick="window.location='/ui/v1.0/data/view/{{ table }}/default{{ build_query_string(context, append_args={"page":page_count-1}) }}';" 
    value=">"></input>
</div>
-->

</div>
{% endblock %}




