{% extends "templates/base/login_base.htm" %}
{% import "templates/base/uitools.htm" as forms %}



{% block title %}RestApi - Login{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    <div style="text-align: center;font-size: 1.5em;padding-bottom: 25px;">Login</div>

    <div style="text-align: center;font-size: 1.5em;padding-bottom: 25px;color:red;">{{ msg }}</div>

    {% if logged_on == False %}
    <form method="post" action="/api/v1.0/core/login?redirect={{ redirect }}">
    <!-- <div class="container m-1"> -->

    <div class="row m-1">
        {% call forms.input('restapi_username', '', 'Username' ) %}
        {% endcall %}
    </div>

    <div class="row m-1">
        {% call forms.input('restapi_password', '', 'Password' ) %}
        {% endcall %}
    </div>

    <div style="padding-top: 25px;" class="container m-1">
        <button type="submit" class="btn btn-primary btn-sm"> Login</button>
    </div>

    <!-- </div> -->
    </form>
    {% endif %}

    {% if logged_on == True %}
    <form method="post" action="/api/v1.0/core/logoff?redirect=/ui/login">

    <div style="text-align: center;" class="container m-1">
        <button type="submit" class="btn btn-sm btn-primary"> Logoff</button>
    </div>

    </form>
    {% endif %}


{% endblock %}
