{% macro dataset_navigation(context, name, table, page, page_count, config={}) -%}
    {% set disabled=config | value_from_json("disabled", false) %}


    <div id={{ name }}>
    <input type="button"
        onclick="window.location='/ui/v1.0/data/view/{{ table }}/default{{ build_query_string(context, append_args={"page":0}) }}';" 
        value="<"></input>
    <input type="button"
        onclick="window.location='/ui/v1.0/data/view/{{ table }}/default{{ build_query_string(context, append_args={"page":page-1}) }}';" 
        value="<<"></input>
    {{ page+1 }}
    <input type="button"
        onclick="window.location='/ui/v1.0/data/view/{{ table }}/default{{ build_query_string(context, append_args={"page":page+1}) }}';" 
        value=">>"></input>
    <input type="button"
        onclick="window.location='/ui/v1.0/data/view/{{ table }}/default{{ build_query_string(context, append_args={"page":page_count-1}) }}';" 
        value=">"></input>
    </div>
        
    {{ caller() }}
{%- endmacro %}
