{% macro sub_table(name, label='', placeholder='', value='',field={}, config={}) -%}
    {% set disabled=config | value_from_json("disabled", false) -%}
    {% set columns=config | value_from_json("columns", "") -%}
    {% set referenced_table_alias=field | value_from_json("referenced_table_name", "") -%}
    {% set referenced_field_name=field | value_from_json("referenced_field_name", "") -%}

    {% if label!='' -%}
        <label for="{{ name }}" class="col-sm-2 col-form-label">{{ label }}</label>
        {% set col=10 -%}
    {% else -%}
        {% set col=12 -%}
    {% endif -%}
    <div class="col-sm-{{ col }} table-responsive" id="div_sub_table_{{ name }}" name="div_sub_table_{{ name }}">
        <table class="table table-sm table-hover" id="table">
        </table>
    </div>
    <script lang="javascript">
    getSubList("{{ name }}", "{{ referenced_table_alias }}","{{ referenced_field_name }}","{{ value }}", "{{ columns }}","0", "5");
    </script>
    {{ caller() }}
{%- endmacro -%}
