{% macro debug(title, text, debug_level=0) -%}
    {% set context=get_context() %}
    {% if debug_level>=get_debug_level(context) %}
        <div style="margin-top:2px;padding-left:10px;background-color: #FFCCCB;font-weight:bold;border-radius: 18px">
        {{ title }}: {{ text }}
        {{ caller() }}
        </div>        
    {% endif %}
{%- endmacro %}

{% macro input(name, label='', placeholder='', value='', type='text', size=20, config={}) -%}
    {% set disabled=config | value_from_json("disabled", false) %}

    {% if disabled %}
        {% set show="disabled" %}
    {% else %}
        {% set show="" %}
    {% endif %}
        

    {% if label!='' %}
        <label for="{{ name }}" class="col-sm-2 col-form-label col-form-label-sm">{{ label }}</label>
        {% set col=10 %}
    {% else %}
        {% set col=12 %}
    {% endif %}

    <div class="col-sm-{{ col }}">
        {% if type=='checkbox' %}
            <input type="checkbox" class="form-check-input form-check-input-sm" id="{{ name }}" name="{{ name }}" value="1">
        {% else %}      
            <input {{ show }} type="{{ type }}" class="form-control form-control-sm" id="{{ name }}" name="{{ name }}" placeholder="{{ placeholder }}" value="{{ value }}">
        {% endif %}
    </div>

    {{ caller() }}
{%- endmacro %}

{% macro input_multiline(name, label='', placeholder='', value='', type='text', size=20, config={}) -%}
    {% set disabled=config | value_from_json("disabled", false) %}

    {% if disabled %}
        {% set show="disabled" %}
    {% else %}
        {% set show="" %}
    {% endif %}
        

    {% if label!='' %}
        <label for="{{ name }}" class="col-sm-2 col-form-label">{{ label }}</label>
        {% set col=10 %}
    {% else %}
        {% set col=12 %}
    {% endif %}

    <div class="col-sm-{{ col }}">
      <textarea {{ show }} type="{{ type }}" class="form-control" id="{{ name }}" name="{{ name }}" placeholder="{{ placeholder }}">{{ value }}</textarea>
    </div>

    {{ caller() }}
{%- endmacro %}

{% macro data_select(name,label, value, table_alias, view_name, query='', config={}) -%}
    {% if table_alias==None %}
        <div style="background-color: #FFCCCB;font-weight:bold;border-radius: 18px">
        Missing table_alias for field {{ name }} ({{ label }}). Set table_alias or use another ui control for this field!
        </div>        
    {% else %}
        {% set disabled=config | value_from_json("disabled", false) %}

        {% if disabled %}
            {% set show="disabled" %}
        {% else %}
            {% set show="" %}
        {% endif %}

        {% if label!='' %}
            <label for="{{ name }}" class="col-sm-2 col-form-label col-form-label-sm">{{ label }}</label>
            {% set col=10 %}
        {% else %}
            {% set col=12 %}
        {% endif %}

        <div class="col-sm-{{ col }}">
        <select {{ show }} id="{{ name }}" name="{{ name }}" class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option value=""></option>
        {% for option in datacomboview(table_alias,view_name,query) %}
            {% if option['id']==value %}
                <option selected value="{{ option['id'] }}">{{ option['name'] }}</option>
            {% else %}
                <option value="{{ option['id'] }}">{{ option['name'] }}</option>
            {% endif %}
        {% endfor %}
        {{ caller() }}
        </select>
        </div>
    {% endif %}

{%- endmacro %}

{% macro row_form_group () %}
    <div class="form-group row p-1">
    {{ caller() }}
    </div>
{% endmacro %}

{% macro col_form_group () %}
    <div class="form-group col p-1">
    {{ caller() }}
    </div>
{% endmacro %}

{% macro row () %}
    <div class="row p-1">
    {{ caller() }}
    </div>
{% endmacro %}

{% macro col () %}
    <div class="col p-1">
    {{ caller() }}
    </div>
{% endmacro %}


{% macro record_form (table, id='', context=None) %}
        {% if id=='' %}
        <form method="POST" id="frmData" action="/api/v1.0/form/{{ table }}?redirect=/ui/v1.0/data/{{ table }}/$$id$${{ build_query_string(context) }}">
        {% else %}
        <form method="POST" id="frmData" action="/api/v1.0/form/{{ table }}/{{ id }}?redirect=/ui/v1.0/data/{{ table }}/$$id$${{ build_query_string(context) }}">
        {% endif %}

        {{ caller() }}

        </form>
{% endmacro %}



{% macro input_nicedit(name, label='', placeholder='', value='', type='text', size=20, config={}) -%}
    {% set disabled=config | value_from_json("disabled", false) %}

    {% if disabled %}
        {% set show="disabled" %}
    {% else %}
        {% set show="" %}
    {% endif %}
        

    {% if label!='' %}
        <label for="{{ name }}" class="col-sm-2 col-form-label">{{ label }}</label>
        {% set col=10 %}
    {% else %}
        {% set col=12 %}
    {% endif %}

    <div class="col-sm-{{ col }}">
      <textarea {{ show }} type="{{ type }}" class="form-control" id="{{ name }}" name="{{ name }}" placeholder="{{ placeholder }}">{{ value }}</textarea>
    </div>

    <!-- Enable nic-Edit -->
    <script type="text/javascript">
    controls=document.getElementsByTagName("textarea");
    for(var x=0;x<controls.length;x++) {
        if (controls[x].id=='{{ name }}') {
            edit=new nicEditor({fullPanel : true});
            nicEditors.editors.push(edit.panelInstance(controls[x]));

            edit.addEvent('blur', function() {
                this.nicInstances[0].saveContent();
            });
        }
    }
    </script>
    <!-- end of enbale nicEdit -->

    {{ caller() }}
{%- endmacro %}




{% macro input_aceedit(name, label='', placeholder='', value='', type='text', size=20, config={}) -%}
    {% set disabled=config | value_from_json("disabled", false) %}

    {% if disabled %}
        {% set show="disabled" %}
    {% else %}
        {% set show="" %}
    {% endif %}
        

    {% if label!='' %}
        <label for="{{ name }}" class="col-sm-2 col-form-label">{{ label }}</label>
        {% set col=10 %}
    {% else %}
        {% set col=12 %}
    {% endif %}



    <style type="text/css" media="screen">
    #editor { 
        height: 250px;
        width: 100%;
    }
    </style>

    <div class="col-sm-{{ col }}">
    <div id="editor">{{ value }}</div>
    <textarea {{ show }} type="{{ type }}" class="form-control" id="{{ name }}" name="{{ name }}" 
        placeholder="{{ placeholder }}" hidden>{{ value }}</textarea>
    </div>

    <!-- Enable nic-Edit -->
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/json");
        editor.resize()

        editor.getSession().on("change", function () {
            document.getElementById('{{ name }}').value = editor.getSession().getValue();
        });
    </script>
    <!-- end of enbale nicEdit -->

    {{ caller() }}
{%- endmacro %}


{% macro boolean(name, label='', placeholder='', value='', config={}) -%}
    {% set disabled=config | value_from_json("disabled", false) %}

    {% if disabled %}
        {% set show="disabled" %}
    {% else %}
        {% set show="" %}
    {% endif %}

    {% set true_value=config | value_from_json("true_value",-1) %}

    {% if label!='' %}
        <label for="{{ name }}" class="col-sm-2 col-form-label">{{ label }}</label>
        {% set col=10 %}
    {% else %}
        {% set col=12 %}
    {% endif %}

    <div class="col-sm-{{ col }}">
    <select {{ show }} id="{{ name }}" name="{{ name }}" class="form-select form-select-sm" aria-label=".form-select-sm example">

        {% if value==0 or value==None %}
            <option selected value="0">No</option>
        {% else %}
            <option value="0">No</option>
        {% endif %}

        {% if value==1 or value==-1 or value==true_value %}
            <option selected value="{{ true_value }}">Yes</option>
        {% else %}
            <option value="{{ true_value }}">Yes</option>
        {% endif %}


    {{ caller() }}
    </select>
    </div>
{%- endmacro %}
