aniso8601
attrs
certifi
chardet
click
Flask==1.1.2
Flask-MySQL==1.5.1
flask-restplus==0.13.0
idna
importlib-metadata
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema
MarkupSafe==1.1.1
paho-mqtt
PyMySQL
pyrsistent
pytz
requests
six
urllib3
uWSGI
Werkzeug==0.16.1
zipp
